<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to laracast/login.controller.php if not a file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php [L]

</IfModule>
