@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-list li::marker {
    color: #003f9e;
    list-style-type: square;
    line-height: 1.5em;
}